# Hamoye Stage A Data Science QUIZ
### Author: `Maurice Jules Mulisa`
### Date: `July 20th, 2020`

## Q1. Arrays

In [1]:
A1 = [1,2,3,4,5,6]
A2 = [1,2,3,4,5,6]
B = [13, 21, 34]
A1.extend(B)
print('A_B with extend: ', A1)
A2.append(B)
print('A_B with append: ', A2)

# .extend is the one that produces dired results

A_B with extend:  [1, 2, 3, 4, 5, 6, 13, 21, 34]
A_B with append:  [1, 2, 3, 4, 5, 6, [13, 21, 34]]

## Q2. Using numpy to create an identity matrix

In [2]:
import numpy as np 

# identity matrix should have the diagonal of ones and others be zeros.

id_matrix = np.identity(4, dtype=int) 
print("My identity matrix 4x4 a : \n", id_matrix)

My identity matrix 4x4 a :
 [[1 0 0 0]
 [0 1 0 0]
 [0 0 1 0]
 [0 0 0 1]]

## Q3. Finding the lowest average fuel_cost_per_unit_burned

In [3]:
# Reading csv data from online using pandas.
# data is stored in my_fuel_data and it will be used for the rest of this question
import pandas as pd

my_fuel_data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [4]:
# Using .head() function to get a Sneak peek of the first 5 entries in the fuel data 
my_fuel_data.head(5)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [5]:
# Using .describe() function to get general information on the fuel data 
my_fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [6]:
# here .groupby function is used to group the data by the fuel code.
# then, the mean is cal
grouped_data = my_fuel_data.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned']
grouped_data.mean().sort_values(ascending=False)

fuel_type_code_pudl
nuclear    4955.157002
oil         168.877086
coal         67.421830
waste        19.518122
other        18.253856
gas          13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

## Q4. Calculating standard deviation & a percentile of the measure of energy per unit

In [7]:
# By using the .describe() function, std and percentiles can be found in one table
# the results are rounded to two decimals using numpy's round function

fuel_mmbtu_data = my_fuel_data['fuel_mmbtu_per_unit'].describe()
np.round(fuel_mmbtu_data, 2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

In [8]:
# verifying the std
round(np.std(my_fuel_data['fuel_mmbtu_per_unit']), 2)

10.6

In [9]:
# verifying the percentile
round(np.percentile(my_fuel_data['fuel_mmbtu_per_unit'], 75), 2)

17.01